@font-face
  font-family Mulish
  src url(../fonts/Mulish-Regular.ttf)
  font-style normal
  font-weight 400
  font-display block
@font-face
  font-family Mulish
  src url(../fonts/Mulish-Medium.ttf)
  font-weight 500
  font-style normal
  font-display block
@font-face
  font-family Mulish
  src url(../fonts/Mulish-Bold.ttf)
  font-weight 600
  font-style normal
  font-display block