// colors
$background = #E5E5E5;
$white = #FFFFFF;
$black = #2E3D56;
$text-table=#606266;
$primary = #FF6400;
$grey-dark = #95979C;
$grey-light = #C1C4CB;
$blue = #2B7DF6;
$success = #67C23A;
$danger = #EC5149;
$primary-disabled=#F3D19E
$secondary=#696969
// background
$blue-bg = #ECF5FF;
$success-bg = #F0F9EB;
$danger-bg = #FBC4C4;
$orange-bg = #FDF6EC;

// space
$space = 4px;

// element-plus
$--font-path = 'element-plus/dist/fonts/fonts';